body {
    color: rgb(240, 221, 115);
    background: black;
    margin: 0px;
    font-family: "Exo 2", serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 3px rgb(78, 167, 102);
    padding: 20px;
    font-size: 42px;
    color: rgb(78, 167, 10);
}

.chamada {
    background: rgb(55, 112, 100);    
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.camada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 38px;
}

p {
    font-size: 25px
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;

}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 1px solid rgb(240, 221, 115)
}

.categoria h2 {
    color: rgb(78, 167, 10);
}